{% if readonly %}
<div class="form-group">
    <div class="col-md-offset-2 col-md-10 submit-row">
        {% if conf.dag_name %}
            <input id="view" type="button" class="btn btn-primary" value="查看" />
        {% endif %}
        <a href="list" class="btn btn-danger" role="button">返回</a>
    </div>
</div>
{% else %}
<div style="clear: both;"></div>
<hr>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10 submit-row">
        <input id="save-btn" type="button" class="btn btn-primary" value="保存" />
        <input id="save-add-btn" name="_add_another" type="button" class="btn btn-default" value="保存并添加" />
        <input id="save-edit-btn" name="_continue_editing" type="button" class="btn btn-default" value="保存并继续编辑" />
        {% if conf.dag_name %}
            {% if not need_approver %}<input id="save-view" name="_save_view" type="button" class="btn btn-default" value="保存并查看" />{% endif %}
            <input id="view" type="button" class="btn btn-primary" value="查看DAG" />
        {% endif %}
        <a href="list" class="btn btn-danger" role="button">取消</a>
    </div>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10 submit-row">
        <input id="export-json-btn" name="_export_json" type="button" class="btn btn-primary" value="导出" />
        <input id="import-json-btn" name="_import_json" type="button" class="btn btn-danger" value="导入" />
        <input type="file" id="import-file" name="file" accept=".json" style="display: none;" />
    </div>
</div>
{% endif %}